@include desktop {
  .container {
    max-width: 1000px;
  }

  .projects {
    max-width: 1000px;
    margin: 80px auto;
  }
}
@include laptop {
  .container {
    max-width: 85vw;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 85vw;
    margin: 50px auto;
  }
}
@include tablet {
  .container {
    max-width: 85vw;
  }

  .projects {
    max-width: 85vw;
    margin: 50px auto;
  }
}
