@include desktop {
  .navig {
    max-width: 1000px;
  }
}

@include laptop {
  .navig {
    max-width: 86vw;
  }
}

@include mobile {
  .navig {
    max-width: auto;
    margin: 20px 5vw;
    .menu {
      @include text-style(
        map-get($colors, 'white-grey'),
        map-get($font-size, 'sm')
      );
      width: 220px;
      margin: 20px 20px;
    }
  }
}
