.contacts, .description, .showcase, .navig .menu, .navig .logo, .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase__gradient {
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 26.75%);
}

.container {
  position: relative;
  max-width: 1150px;
  margin: auto;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1150px;
  margin: 100px auto;
  padding: 0 10px;
  overflow: hidden;
}
.projects_reverse {
  flex-direction: row-reverse;
}

img {
  border-radius: 10px;
}

h3 {
  color: #fff;
  font-weight: 500;
}

a {
  color: rgba(255, 255, 255, 0.7764705882);
  text-decoration: none;
}
a:hover {
  color: #fff;
  border-bottom: 2px solid #ff0000;
}

.navig {
  display: flex;
  max-width: 1150px;
  align-items: center;
  margin: 20px auto;
}
.navig .logo {
  font-family: "Montserrat";
  font-size: 2rem;
  color: #fff;
  width: 70px;
  height: 50px;
  padding: 5px;
  margin-left: 10px;
  font-weight: 500;
  border: 2px solid #fff;
}
.navig .menu {
  font-family: "Montserrat";
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7764705882);
  flex-direction: row;
  width: 300px;
  margin: 20px 30px;
  padding: 0;
  list-style: none;
}
.navig .menu li {
  margin: auto;
  cursor: pointer;
  border: 2px solid #000;
}
.navig .menu li:hover {
  border-bottom: 2px solid #ff0000;
  color: #fff;
}

header .logos {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  width: 50px;
  margin: 0 20px;
  padding: 10px 0;
  border: 2px solid rgba(255, 255, 255, 0.2117647059);
  border-radius: 10px;
}
header .logos__icon {
  justify-self: center;
}
header .banner {
  position: relative;
}
header .banner__back-picture {
  margin-left: 10px;
}
header .banner__signboard {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr max-content;
  row-gap: 20px;
  right: 90px;
  bottom: 40px;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2117647059);
  background-color: #000;
  font-family: "Montserrat";
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7764705882);
}
header .banner__signboard-links {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 20px;
}

.showcase {
  position: relative;
}
.showcase__gradient {
  width: 600px;
  height: 602px;
  scale: 0.8;
  opacity: 0;
}
.showcase__gradient_spin-scale {
  animation: spin-anim 5s ease 0s 1 normal forwards;
}
.showcase__website {
  position: absolute;
  z-index: -10;
  scale: 0.8;
  opacity: 0;
}
.showcase__website_spin-scale {
  animation: spin-anim 5s ease 0s 1 normal forwards;
}
.showcase__back-circle {
  position: absolute;
  z-index: -20;
}
.showcase__back-circle_spin-left {
  animation: rotate-center-left 20s linear infinite both;
}
.showcase__back-circle_spin-right {
  animation: rotate-center-right 20s linear infinite both;
}

.description {
  position: relative;
}
.description__background {
  width: 470px;
  height: 560px;
}
.description__about {
  position: absolute;
  width: 400px;
  padding: 25px;
  border: 2px solid rgba(255, 255, 255, 0.7764705882);
  border-radius: 10px;
  background-color: #000;
  word-wrap: break-word;
  font-family: "Montserrat";
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.7764705882);
}

@keyframes spin-anim {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(0);
  }
  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}
@keyframes rotate-center-left {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-center-right {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer__banner {
  position: absolute;
  z-index: -10;
}

.contacts {
  border-radius: 10px;
  width: 1150px;
  height: 210px;
}
.contacts__links {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(3, max-content);
  column-gap: 50px;
  padding: 8px 25px;
  background-color: #000;
  font-family: "Montserrat";
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.7764705882);
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .projects {
    max-width: 1000px;
    margin: 80px auto;
  }
}
@media screen and (max-width: 1050px) {
  .container {
    max-width: 85vw;
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 85vw;
    margin: 50px auto;
  }
}
@media screen and (max-width: 790px) {
  .container {
    max-width: 85vw;
  }
  .projects {
    max-width: 85vw;
    margin: 50px auto;
  }
}
@media screen and (max-width: 1200px) {
  .navig {
    max-width: 1000px;
  }
}
@media screen and (max-width: 1050px) {
  .navig {
    max-width: auto;
    margin: 20px 7.5vw;
  }
}
@media screen and (max-width: 580px) {
  .navig {
    margin: 20px 5vw;
  }
  .navig .menu {
    font-family: "Montserrat";
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.7764705882);
    width: 220px;
    margin: 20px 20px;
  }
}
@media screen and (max-width: 1200px) {
  header .logos {
    min-width: 50px;
  }
  header .banner__back-picture {
    width: 900px;
  }
  header .banner__signboard {
    right: 80px;
    bottom: 35px;
  }
}
@media screen and (max-width: 1050px) {
  header .banner__back-picture {
    width: 75vw;
    height: 400px;
  }
  header .banner__signboard {
    right: 50px;
    bottom: 35px;
  }
}
@media screen and (max-width: 790px) {
  header .banner__signboard {
    right: 30px;
    bottom: 30px;
  }
}
@media screen and (max-width: 580px) {
  header .logos {
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 10px;
  }
  header .banner__back-picture {
    margin-left: 0px;
    width: 90vw;
    height: 420px;
  }
  header .banner__signboard {
    width: 210px;
    z-index: 10;
    right: 25px;
    bottom: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .showcase__gradient {
    width: 500px;
    height: 502px;
  }
  .showcase__website img {
    width: 500px;
    height: 500px;
  }
  .showcase__back-circle img {
    width: 500px;
    height: 500px;
  }
  .description__background {
    width: 440px;
    height: 470px;
  }
  .description__background img {
    width: 440px;
    height: 470px;
  }
  .description__about {
    width: 400px;
  }
}
@media screen and (max-width: 1050px) {
  .showcase__gradient {
    width: 500px;
    height: 502px;
  }
  .showcase__website img {
    width: 500px;
    height: 500px;
  }
  .showcase__back-circle img {
    width: 500px;
    height: 500px;
  }
  .description {
    margin-top: 30px;
  }
  .description__background {
    width: 650px;
    height: 390px;
  }
  .description__background img {
    width: 650px;
    height: 390px;
  }
  .description__about {
    padding: 7px 25px;
    width: 620px;
  }
}
@media screen and (max-width: 790px) {
  .showcase__gradient {
    width: 430px;
    height: 432px;
  }
  .showcase__website img {
    width: 430px;
    height: 430px;
  }
  .showcase__back-circle img {
    width: 430px;
    height: 430px;
  }
  .description__background {
    width: 450px;
    height: 420px;
  }
  .description__background img {
    width: 450px;
    height: 420px;
  }
  .description__about {
    padding: 7px 25px;
    width: 420px;
  }
}
@media screen and (max-width: 580px) {
  .showcase__gradient {
    width: 375px;
    height: 377px;
  }
  .showcase__website img {
    width: 375px;
    height: 375px;
  }
  .showcase__back-circle img {
    width: 375px;
    height: 375px;
  }
  .description__background {
    width: 350px;
    height: 500px;
  }
  .description__background img {
    width: 350px;
    height: 500px;
  }
  .description__about {
    padding: 7px 25px;
    width: 320px;
    padding: 4px 25px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__banner img {
    width: 1000px;
  }
  .contacts {
    width: 1000px;
  }
  .contacts__links p {
    margin: 10px;
  }
}
@media screen and (max-width: 1050px) {
  .footer__banner img {
    width: 780px;
  }
  .contacts {
    width: 780px;
  }
  .contacts__links {
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(2, max-content);
    column-gap: 30px;
  }
  .contacts__links p {
    margin: 5px;
  }
}
@media screen and (max-width: 790px) {
  .footer__banner img {
    width: 560px;
    height: 250px;
  }
  .contacts {
    width: 560px;
    height: 250px;
  }
  .contacts__links {
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: repeat(1, max-content);
    column-gap: 20px;
  }
  .contacts__links p {
    margin: 5px;
  }
}
@media screen and (max-width: 790px) {
  .footer__banner img {
    width: 90vw;
    height: 250px;
  }
  .contacts {
    width: 90vw;
    height: 250px;
  }
}
.App {
  margin: 20px auto;
}

/*# sourceMappingURL=style.css.map */
