$font-size: (
  'sm': 18px,
  'md': 24px,
  'xl': 32px,
);

$colors: (
  'black': #000,
  'grey': #ffffff36,
  'white-grey': #ffffffc6,
  'white': #fff,
  'red': #ff0000,
);

$breakpoints: (
  'xxl': 1200px,
  'xl': 1024px,
  'md': 764px,
  'sm': 576px,
);
