$font-size: (
  'sm': 1.125rem,
  'md': 1.5rem,
  'xl': 2rem, 
);

$colors: (
  'black': #000,
  'grey': #ffffff36,
  'white-grey': #ffffffc6,
  'white': #fff,
  'red': #ff0000,
);

$breakpoints: (
  'xxl': 1200px,
  'xl': 1050px,
  'md': 790px,
  'sm': 580px,
);
