@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  width: auto;
  margin: 0;
  font-family: 'Montserrat', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
