.footer {
  &__banner {
    position: absolute;
    z-index: -10;
  }
}
.contacts {
  @extend %position-center;
  border-radius: 10px;
  width: 1150px;
  height: 210px;

  &__links {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(3, max-content);
    column-gap: 50px;
    padding: 8px 25px;
    background-color: #000;
    @include text-style(
      map-get($colors, 'white-grey'),
      map-get($font-size, 'sm')
    );
  }
}
