@include desktop {
  header {
    .logos {
      row-gap: 20px;
      width: 50px;
      margin: 0 20px;
      padding: 10px 0;
    }

    .banner {
      width: 934px;

      &__back-picture {
        margin-left: 10px;
        width: 924px;
      }

      &__signboard {
        row-gap: 20px;
        right: 90px;
        bottom: 40px;
        padding: 25px;
      }

      &__signboard-links {
        column-gap: 20px;
      }
    }
  }
}
