@include desktop {
  .navig {
    width: 1024px;
    margin: 15px auto;

    .logo {
      @include text-style(map-get($colors, 'white'), map-get($font-size, 'xl'));
      width: 70px;
      height: 50px;
      padding: 5px;
      margin-left: 10px;
      font-weight: 500;
    }

    .menu {
      @include text-style(
        map-get($colors, 'white-grey'),
        map-get($font-size, 'md')
      );
      width: 300px;
      margin: 20px 30px;
      padding: 0;
    }
  }
}
